<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic,vietnamese" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

<div th:replace="navi/navbar"></div>
<div class="container">
    <div class="text-center">
        <h1>FAQ</h1>
    </div>
    <div class="text-center-left">
        <h4>1. How can I pay for a transaction?</h4>
        <h6>To make a payment for an order, you can choose from:</h6>
        <h6>- Cash on delivery</h6>
        <h6>- Fast online payment, i.e., payment by credit card, debit card, Blik, or bank transfer.</h6>
        <h4>2. Can I place one order at multiple restaurants at once?</h4>
        <h6>There is no limit to the number of orders. Zjemy.co allows you to place multiple orders at once.</h6>
        <h4>3. I live in Warsaw, Bemowo district. Can I order food from Mokotów?</h4>
        <h6>Each restaurant has its own delivery zones. If you live in Bemowo, you cannot order food from a different district unless the restaurant does not divide delivery zones by specific city districts.</h6>
        <h4>4. How long should I wait for food delivery to the specified address?</h4>
        <h6>Each restaurant is required to notify you of the delivery time once the order is placed.</h6>
        <h4>5. What hours are best to place an order?</h4>
        <h6>The order acceptance hours are provided by each restaurant separately. If a restaurant is not accepting orders, you will be notified about it.</h6>
        <h4>6. Who is the mobile application dedicated to?</h4>
        <h6>Zjemy.co is a modern online food ordering app—quick, simple, safe, and without hidden fees! Enter your address, choose your preferred cuisine, select a restaurant that delivers to your area, and find your favorite dish. After a short time, your desired meal will be delivered to your home.</h6>
        <h4>7. Can I pay by traditional bank transfer?</h4>
        <h6>Unfortunately, traditional bank transfers are excluded from payment options as it would delay the order fulfillment process.</h6>
        <h4>8. Is there a minimum order amount?</h4>
        <h6>Each restaurant defines its minimum order amount, which is provided in the restaurant profile.</h6>
        <h4>9. What type of food can I order through zjemy.co?</h4>
        <h6>Restaurants on zjemy.co are categorized by all types of world cuisines—from dairy bars, pizzerias, Italian cuisine, to Oriental cuisine.</h6>
        <h4>10. Do I have to register to order food?</h4>
        <h6>No, registration is not mandatory. You can order food as a guest. However, if you provide account details as a guest, you will need to log in to complete the order.</h6>
        <h4>11. Can I order food through the website?</h4>
        <h6>Yes, by visiting zjemy.co, simply register on our site, select your favorite food, and we will deliver it to your home in no time.</h6>
        <h4>12. The food did not arrive after 3 hours of waiting? What should I do?</h4>
        <h6>Contact the restaurant using the phone number provided in the order details on the zjemy.co restaurant page.</h6>
        <h4>13. Can I pay by card on delivery?</h4>
        <h6>During the order process, you can choose your preferred payment method.</h6>
        <h4>14. Does the delivery person carry cash for change?</h4>
        <h6>Yes, delivery people typically carry small amounts of cash for change.</h6>
        <h4>15. What do I gain by ordering food through zjemy.co?</h4>
        <h6>You will be able to quickly order food whenever you want.</h6>
        <h4>16. How can I file a complaint after a failed food order?</h4>
        <h6>- Complaints should be submitted directly to the restaurant using their contact details listed in the zjemy.co directory. Zjemy.co may only act as a mediator for complaints.</h6>
        <h6>- For consumer complaints regarding services, complaints should be sent to the Zjemy.co Customer Service Department via:</h6>
        <h6>a) Contact form available at zjemy.co</h6>
        <h6>b) Email at biuro@zjemy.co</h6>
        <h6>- After receiving the complaint, Zjemy.co will review it promptly, but no later than within two weeks of receipt. Zjemy.co will confirm the receipt of the complaint via the email provided during submission.</h6>
        <h4>17. Is there a maximum order amount?</h4>
        <h6>There is no maximum order amount.</h6>
        <h4>18. Who can I contact to clarify my doubts?</h4>
        <h6>Feel free to contact us at biuro@zjemy.co.</h6>
    </div>
</div>
<div th:replace="navi/footer"></div>
</body>
</html>
