<form th:action="@{/users/changePassword}" method="post" class="form-horizontal"
      xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Hidden field for the token -->
    <input type="hidden" name="token" th:value="${token}" />

    <!-- New Password input -->
    <div class="form-group">
        <label for="password" class="control-label">New Password:</label>
        <input type="password" id="password" name="password" class="form-control" required />
    </div>

    <!-- Submit button -->
    <div class="form-group">
        <button type="submit" class="btn btn-success">Change Password</button>
    </div>
</form>
