<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WELCOME</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic,vietnamese" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>

<div th:replace="navi/navbar"></div>

<div id="container">
    <div class="module darken">
        <div class="srodek">
            <p>Welcome to the "KIGALI" restaurant</p>
        </div>
    </div>

    <!-- Featurette Sections -->
    <div class="container">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <div class="text-center">
                    <h2 class="featurette-heading">Quality Guarantee!</h2>
                    <p class="lead">The best quality proven by thousands of people.</p>
                </div>
            </div>
            <div class="col-md-5 text-center">
                <i class="fas fa-user-check" style="font-size: 100px; margin: 50px;"></i>
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <div class="text-center">
                    <h2 class="featurette-heading">Fast Delivery!</h2>
                    <p class="lead">As soon as the meal is prepared, our delivery person sets off on the way.</p>
                </div>
            </div>
            <div class="col-md-5 order-md-1 text-center">
                <i class="fas fa-shipping-fast" style="font-size: 100px; margin: 50px;"></i>
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <div class="text-center">
                    <h2 class="featurette-heading">Hot Food!</h2>
                    <p class="lead">Thanks to special containers, our meals are always hot.</p>
                </div>
            </div>
            <div class="col-md-5 text-center">
                <i class="fas fa-hot-tub" style="font-size: 100px; margin: 50px;"></i>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

<div th:replace="navi/footer"></div>
</body>
</html>
